# this is included by the top level makefile, and should contain only the
# definition of BIMAGE_OBJS.

BIMAGE_OBJS = \
	util/debug/diable.o \
	sys/memory_manager/x86/noblame.o \
	sys/scheduler/x86/avalon.o \
	sys/interrupts/x86/iridia.o \
	sys/bimage/x86/test.o \
	sys/bimage/x86/hydro3d.o \
	sys/bimage/x86/cruft.o \
	sys/bimage/x86/c_stuff.o \
	sys/bimage/x86/keyboard.o \
        hardware/keyboard.o \
	hardware/iomodule.o \
	hardware/uuutimemodule.o \
	hardware/irqmodule.o \
	hardware/irq.o \
        hardware/multiboot.o \
	hardware/snap/ga.o \
	hardware/snap/gconsole.o \
	hardware/snap/pm.o \
	lib/queue/ring.o \
	hardware/gatest/center.o \
	hardware/gatest/ddccitst.o \
	hardware/gatest/ddctest.o \
	hardware/gatest/dpmstest.o \
	hardware/gatest/tests.o \
	hardware/gatest/tv.o \
	hardware/gatest/txttest.o \
	hardware/gatest/util.o \
	hardware/gatest/main.o

# objects to go into the final boot.o that have special build rules

MORE_BIMAGE_OBJS = \
	$(SNAPDIR)/lib/debug/uuu/gcc/x86/a/libn_ga.a \
	$(SNAPDIR)/lib/debug/uuu/gcc/x86/a/libgconsole.a \
	$(SNAPDIR)/lib/debug/uuu/gcc/x86/a/libpm.a
